//BEM Styling mixins
//From: https://css-tricks.com/snippets/sass/bem-mixins/
//Modifier from this awesome person: https://gist.github.com/Grsmto/7791840

$elementSeparator: '__';
$modifierSeparator: '--';

// @access public
// @param {String} $element - Element's name
@mixin block($element) {
  &#{$element} {
    @content;
  }
}

// @access public
// @param {String} $element - Element's name
@mixin element($element) {
    &#{$elementSeparator+$element} {
        @content;
    }
}

// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
	@at-root {
    // '&' is a double-wrapped list,
		// Get the oldest ancestor
    $oldest_ancestor: nth(&, 1);
    // parent will be the last item in ancestors
    $parent: nth($oldest_ancestor, length($oldest_ancestor));
    // modifier should have all properties of parent
    #{$parent+$modifierSeparator+$modifier} {
			@extend #{$parent};
		}
    // '@content' will be in a nested selector however, if that is the context
    #{&}#{$modifierSeparator+$modifier} {
			@content;
		}
  }
}

// @alias block
@mixin b($element) {
    @include block($element)  {
        @content;
    }
}

// @alias element
@mixin e($element) {
    @include element($element)  {
        @content;
    }
}

/// @alias modifier
@mixin m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}
